.team__section {
    @include sectionPaddings();
    background-color: $team-section-color;
}


.team__list {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.team__card {
    background-color: $background-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: $text-align;

    box-shadow: $team-item-shadow;
    border-radius: 0px 0px 4px 4px;
}

.team__card + .team__card {
    margin-left: 30px;
}

.team__content {
    padding: 30px 32px;
    
}

.team__name {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 10px;   
}

.team__specialty {
    font-weight: normal;
    letter-spacing: 0.03em;
    color: $text-color;
    margin-bottom: 16px;
}

.social__list {
    padding: 0;
    @include centeredFlex();
    flex-basis: calc((100% - 30) / 4);
  }

.social__item + .social__item {
    margin-left: 10px;
   
}

.social__link {
    @include centeredFlex();
    
    width: 44px; 
    height: 44px;
    border-radius: 50%;
    color: $background-color;

    @include transition(background-color);
    
    &:hover, &:focus {
        background-color: $accent-color;
    }

    &:hover .social__icon,
    &:focus .social__icon {
    fill: currentColor;
}
}
  
.social__icon,
.clients__icon {
    fill: $icon-color;
}

.social__link .social__icon {
    @include transition(fill);
}

